<div id="<%= dom_id(book, :on_loan) %>">
  <div>
    <span class="font-semibold"><%= book.title %></span>, <%= book.year %>
    <button></button>
  </div>
  <div class="italic"><%= book.author.name %></div>
<div>